<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Turo Two</title>
</head>
<body>
    <h1>Welcome to Turo Two</h1>
    <ul>
        <li>
            <a href="#">Create New Profile</a>
        </li>
        <li>
            <a href="#">See All Cars</a>
        </li>
        <li>
            <a href="#">List a New Car</a>
        </li>
    </ul>
</body>
</html>